.comments_container {
    width: 100%
}

.comment-list{
    font-weight: 400;
    margin-top: 1.5rem;
    list-style-type: none;
}

.comment-list h6{
    font-size: 0.7rem;
    font-weight: 400;
}

.comment-body{
    font-size: 1rem;
    display: inline-block;
}

.comment-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul li:after {
    content: "";
    display: block;
    height: 1px;
    width: 40%;
    margin: 10px;
    background: #f00;
}